@page "/historia"

<PageTitle>Mi Historia</PageTitle>

<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-body bg-light">
            <h1>Mi historia</h1>
            <p>A continuación les escribiré información relevante de mi vida.</p>
        </div>
    </div>

    <div class="row">
        <!-- Primera sección - Formación -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <img src="images/pc1.webp" class="card-img-top mb-3" alt="Laptop Dell">
                    <h5 class="card-title">Formación</h5>
                    <p class="card-text">Cuento algo sobre mi formación profesional.</p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>

        <!-- Segunda sección - Hobbies -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <img src="images/pc1.webp" class="card-img-top mb-3" alt="Desktop PC">
                    <h5 class="card-title">Hobbies</h5>
                    <p class="card-text">Cuento algo sobre mis hobbies.</p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>

        <!-- Tercera sección - Mi carrera -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <img src="images/pc1.webp" class="card-img-top mb-3" alt="Desktop computers">
                    <h5 class="card-title">Mi carrera</h5>
                    <p class="card-text">Cuento algo sobre lo que espero de mi carrera.</p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>
    </div>
</div>